

#visual-area {
    /* display: flex; */
    justify-content: center; /*Center child (box) horizontally*/
    align-items: center; /*Center child (box) vertically*/
}

.memory {
    width: 80vw; /* 100% viewport width*/
    box-sizing: border-box;
    height: 40px;
    border: 3px solid rgb(0, 0, 0);
    padding: 1px;
    margin:10 px;
}

.memoryCell{
    display: inline-block;
    width: 40px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    
}

.pointerNames{
    width: 80vw;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;

}

.pointerName{
    display: inline-block;
    width: 40px;
    height: 100%;
}