

#visual-area {
    /* display: flex; */
    justify-content: center; /*Center child (box) horizontally*/
    align-items: center; /*Center child (box) vertically*/
}

.memory-block {
    width: 30.37rem;
    height: 3rem;
    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    /*padding: 1px;*/
    /*margin:10px;*/
}

.memoryCell{
    display: inline-block;
    width: 3rem;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    
}

.pointerNames{
    width: 30rem;
    height: 20px;
    border: 1px solid black;
    padding: 5px;

}

.pointerName{
    display: inline-block;
    width: 40px;
    height: 100%;
}



/*Files*/
.memory-file-container{
    position: relative;
    width: 30.37rem;
    height: 20rem;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

#files-memory-block{
    position: absolute;
    left: 0;
    /*width: 100%;*/
    z-index: 1;
}

.file-visual{
    position: absolute;
    top: 4rem;
    left: 9rem;
    z-index: 10;
    width: 8rem;
    height: 10rem;
    background-color: aliceblue;
    padding: 5px;
    
}