

#visual-area {
    /* display: flex; */
    justify-content: center; /*Center child (box) horizontally*/
    align-items: center; /*Center child (box) vertically*/
}

.memory-block {
    /*width: 30.4rem;*/

    height: 3rem;
    box-sizing: border-box;
    border: 3px solid rgb(0, 0, 0);
    width: fit-content;
    /*padding: 1px;*/
    /*margin:10px;*/
}

.memoryCell{
    display: inline-block;
    width: 3rem;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    
}



.pointerNames{
    width: 30rem;
    height: 20px;
    border: 1px solid red;
    padding: 5px;
    position: relative;

}

#pointerNames-files{
    width: 30rem;
    height: 20px;
    top: 3.15rem;
    border: 1px solid red;
    padding: 5px;
    position: relative;
}


.pointerName{
    display: inline-block;
    width: 40px;
    height: 100%;
}



/*Files*/
.memory-file-container{
    position: relative;
    width: fit-content;
    height: 20rem;
    border: 1px solid rgba(128, 128, 128, 0.562);
}

/* Add two additional file memory blocks to show the essence of stdin, stdout, and stderr*/


/*Style files memory block separately to give z-index ordering*/
/*#files-memory-block{*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*z-index: 1;*/
/*}*/


/*
.file-visual{
    position: absolute;
    top: 4rem;
    left: 9rem;
    z-index: 10;
    width: 8rem;
    height: 10rem;
    background-color: rgb(128, 194, 251);
    padding: 5px;
    
}
*/
.file-visual{
    position: absolute;
    top: 4rem;
    z-index: 10;
    width: 8rem;
    height: 10rem;
    padding: 5px;
    border: 1px solid black;
    
}

#file-visual-1{
    left: 9rem;
}

#stdin{
    width: 5rem;
    height: 10rem;
    border: 1px solid red;
    left: 2rem;
}


#stdout{
    left: 20rem;
    border: 1px solid green;
}

#stderr{
    left: 35rem;
    border: 1px solid rgb(128, 194, 251);
}

h1, .file-visual{
    font-size: 1rem;
}