

#visual-area {
    /* display: flex; */
    justify-content: center; /*Center child (box) horizontally*/
    align-items: center; /*Center child (box) vertically*/
}

.memory {
    width: 80vw; /* 100% viewport width*/
    box-sizing: border-box;
    height: 40px;
    border: 2px solid black;
    padding: 1px;
    margin:10 px;
}

.memoryCell{
    display: inline-block;
    width: 40px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    
}

.pointerNames{
    width: 80vw;
    height: 20px;
    border: 1px solid black;

}